---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';

import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Muslim Hikers - Home',
};
---
<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero2
    tagline="Exploring the Outdoors Together"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        type: 'submit',
        text: 'Join our next Hike!',
        href: 'https://fb.com/groups/muslim.hikers.ontario/events',
        icon: 'tabler:tree',
      }
    ]}
    image={{
      src: '/images/splash.jpg',
      alt: 'Nightsky',
    }}
  >
    <Fragment slot="title">
      Join one of the largest Muslim Hiking<br />  group in <span class="text-accent dark:text-white highlight"
        >Ontario</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        From exploring the Bruce Trail, to camping and stargazing events! Ontario is yours to discover!
    </Fragment>
  </Hero2>
  <div class="relative m-auto max-w-5xl">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/MGHqZdV1gQk?si=dxO7lyoCOberDDQs"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </div>



  <!-- Stats Widget ****************** -->

  <Stats
    title="Activities we've undertaken recently as a group"
    subtitle="From hiking the Bruce Trail, to fundraising events and workshops, we do it all!"
    stats={[
      { title: 'Hiked', amount: '500KM+' },
      { title: 'Trails Completed', amount: '40+' },
      { title: 'Total Members', amount: '2400+' },
      { title: 'Raised for Charity', amount: '$2,900+' },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is it free to join a hike?',
        description:
          'Yes! Our hikes are volunteer-led and are free to attend. We sometimes run campaigns to raise money where we encourage a minimum donation.',
      },
      {
        title: 'I\'ve never hiked before, Can I join?',
        description:
          'Absolutely. Some of our hikes are pretty urban and easy for newbies to join. Before you join an event, make sure to note the difficulty and distance in the event details',
      },
      {
        title: 'Can I bring a friend with me?',
        description:
          'Yes, Just make sure your friend also signs the waiver before attending.',
      },
      {
        title: 'How can I participate and stay engaged?',
        description:
          'Our hikes are generally created and posted on our <a href="https://fb.com/groups/muslim.hikers.ontario" target="_blank"><u>facebook group</u></a>. \
          Keep an eye out for the next hike and join the next one! We also regularly post updates and recaps of our events on <a href="https://instagram.com/muslimoutdooradventures" target="_blank"><u>Instagram</u></a>',
      },
      {
        title: 'I don\'t have a car, how can I attend the hike?',
        description:
          'On the event page for each of our outing, we attach a rideshare sheet to facilitate people who either don\'t have a car, or would like to ridepool, check the sheet for drivers offering rides in your area and contact them directly.',
      },

    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

</Layout>

