---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';

import Stats from '~/components/widgets/Stats.astro';

import FAQs from '~/components/widgets/FAQs.astro';

import Pricing from '~/components/widgets/Pricing.astro';

import CalendarEmbed from '~/components/widgets/CalendarEmbed.astro';

const metadata = {
  title: 'Muslim Outdoor Adventures - Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero2
    tagline="Exploring the Outdoors Together"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Join our next Hike!',
        href: 'https://lu.ma/muslim',
        icon: 'tabler:tree',
      },
      {
        variant: 'primary',
        target: '_blank',
        text: 'Membership Options!',
        href: 'https://muslimoutdooradventures.com/membership',
        icon: 'tabler:rocket',
      }
    ]}
    image={{
      src: '/images/splash.jpg',
      alt: 'Nightsky',
    }}
  >
    <Fragment slot="title">
      Join one of the largest Muslim Hiking<br />  groups in <span class="text-accent dark:text-white highlight"
        >Ontario</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        From exploring the Bruce Trail, to camping and stargazing events! Ontario is yours to discover!
    </Fragment>
  </Hero2>

  <!-- Calendar Embed **************** -->
  <CalendarEmbed />

  <Pricing 
  id="moa-pricing"
  title="Membership Plans"
  subtitle="Join the Movement!"
  tagline="Support MOA and unlock great benefits."
  prices={[
        {
      title: "Per Event",
      subtitle: "Pay as you go",
      price: "2-10",
      period: "per event",
      items: [
        { description: "Access to regular events", icon: "tabler:check" },
        { description: "FB and Whatsapp group access", icon: "tabler:check" },
      ],
      callToAction: { text: 'Join Next Hike', href: "https://lu.ma/muslim" },
    },
    {
      title: "Monthly",
      subtitle: "Flexible membership",
      price: "8",
      period: "per month",
      items: [
        { description: "Access to regular events", icon: "tabler:check" },
        { description: "Access to members-only events", icon: "tabler:check" },
        { description: "Priority registration", icon: "tabler:check" },
        { description: "Members-only WhatsApp group", icon: "tabler:check" },
      ],
      callToAction: { text: 'Join Monthly', href: "https://lu.ma/muslim" },
    },
    {
      title: "Annual",
      subtitle: "Best Value!",
      price: "80",
      period: "per year",
      hasRibbon: true,
      ribbonTitle: "Best Deal",
      items: [
        { description: "Everything in Monthly plan", icon: "tabler:check" },
        { description: "Annual appreciation gift", icon: "tabler:gift" },
      ],
      callToAction: { text: "Join Yearly", href: "https://lu.ma/muslim" },
    }
  ]}
/>
  <!-- Stats Widget ****************** -->

  <Stats
    title="Activities we've undertaken recently as a group"
    subtitle="From hiking the Bruce Trail, to fundraising events and workshops, we do it all!"
    stats={[
      { title: 'KM Hiked', amount: '3,000+' },
      { title: 'Trails Completed', amount: '1000+' },
      { title: 'Total Members', amount: '3,800+' },
      { title: 'Raised for Charity', amount: '$13,000+' },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is it free to join a hike?',
        description:
          'We are a non-profit org. Our events have a low cost to cover our expenses. You can read more about our membership options <a href="https://muslimoutdooradventures.com/membership" target="_blank"><u>here</u></a>.',
      },
      {
        title: 'I\'ve never hiked before, Can I join?',
        description:
          'Absolutely. Some of our hikes are pretty urban and easy for newbies to join. Before you join an event, make sure to note the difficulty and distance in the event details',
      },
      {
        title: 'Can I bring a friend with me?',
        description:
          'Yes, Just make sure your friend also signs the waiver before attending.',
      },
      {
        title: 'How can I participate and stay engaged?',
        description:
          'Our hikes are generally created and posted on our <a href="https://fb.com/groups/muslimoutdooradventures" target="_blank"><u>facebook group</u></a>. \
          Keep an eye out for the next hike and join the next one! We also regularly post updates and recaps of our events on <a href="https://instagram.com/muslimoutdooradventures" target="_blank"><u>Instagram</u></a>',
      },
      {
        title: 'I don\'t have a car, how can I attend the hike?',
        description:
          'On the event page for each of our outing, we attach a rideshare sheet to facilitate people who either don\'t have a car, or would like to ridepool, check the sheet for drivers offering rides in your area and contact them directly.',
      },
      {
        title: 'Can you issue tax receipt for payments?',
        description:
          'We are a Non-Profit organization, but not a registered charity. Only charities certified by CRA can issue tax receipts. Your payments for attending events go towards our cost of operation and are considered as revenue by the CRA. Therefore we can not issue tax receipts.',
      },

    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

</Layout>

