---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sisters Winter Cabin Trip',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

<div class="mb-8 md:mx-auto md:mb-12 text-center max-w-3xl">
  <p class="mt-4 text-muted text-xl"><br />Please fill in the following form to register.</p>
</div>
<script src="https://tally.so/widgets/embed.js"></script>

<div class="flex flex-col md:flex-row">
  <!-- Form Section -->
  <div class="md:w-2/3">
    <iframe data-tally-src="https://tally.so/embed/mRbDjJ?dynamicHeight=1" loading="lazy" width="100%" height="386" frameborder="0" marginheight="0" marginwidth="0" title="Muslim Outdoor Adventures Group Survey"></iframe>
    <script type="text/javascript">Tally.loadEmbeds();</script>
  </div>

  <!-- Trip Details Section -->
  <div class="md:w-1/3 md:ml-8 mt-8 md:mt-0">
    <p><strong>Itinerary:</strong></p>
    <ul class="list-none">
      <li class="font-bold">Friday, February 21st:  </li>
      <ul class="list-disc list-inside ml-4">
        <li>Arrival - anytime after 4 pm</li>
        <li>Settle in, dinner, games, bonfire</li>
      </ul>
      <li><strong>Saturday, February 22nd:</strong></li>
      <ul class="list-disc list-inside ml-4">
        <li>Breakfast, morning hike, lunch</li>
        <li>Half day in Port Carling - Lighthouse point trail</li>
        <li>Bring your skates! We’ll go to Hanna park skating trail!</li>
        <li>Dinner</li>
        <li>Free time for games, hot tub etc</li>
      </ul>
      <li><strong>Sunday, February 23rd:</strong></li>
      <ul class="list-disc list-inside ml-4">
        <li>Breakfast</li>
        <li>Morning hike or snowmobiling</li>
        <li>Lunch</li>
        <li>Free time</li>
        <li>Check out</li>
      </ul>
    </ul>
    <p><strong>Cost:</strong> $380</p>
    <p><strong>Included in cost:</strong> Accommodation, Food, Guided activities</p>
    <p><strong>Not Included:</strong> Equipment rental, transportation, personal snacks</p>
    <p><strong>Trip Lead:</strong> Tabassum</p>
    <p>Note, there are no refunds or cancellations allowed. Your deposit goes into making the reservation for the cottage + purchasing the supplies.</p>
  </div>
</div>

</Layout>