---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sisters Winter Cabin Trip',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

<div class="mb-8 md:mx-auto md:mb-12 text-center max-w-3xl">
<p class="mt-4 text-muted text-xl"><br />Please fill in the following form to register.</p>
</div>
<script src="https://tally.so/widgets/embed.js"></script>

  <!-- Hero Widget ******************* -->
  <iframe data-tally-src="https://tally.so/embed/mRbDjJ?dynamicHeight=1" loading="lazy" width="100%" height="386" frameborder="0" marginheight="0" marginwidth="0" title="Muslim Outdoor Adventures Group Survey"></iframe>
  <script type="text/javascript">Tally.loadEmbeds();</script>
</Layout>